<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Activity</key><string>Stationary</string><key>Creation Date</key><date>2014-01-16T12:59:30Z</date><key>Starred</key><false/></dict></plist>
